/*
RESETS
*/
*  {
    margin: 0;
    padding: 0;
}

ul,
ol,
ul li,
ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*
COMPONENTS
*/
.list-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;

}

.site-content {
    max-width: 960px;
    margin: 0 auto;
}
.disabled {
   cursor: not-allowed;
    pointer-events: none;
    color : grey;
}
/*
site styles
*/
.site-header {
    background-color: black ;
    color: #fff;
    height: 60px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.site-header a {
    color: white;
    padding : 5px 15px;
    display: inline-block;
    font-size: 1.3em;

}
.site-header a:hover {
    background: rgba(255, 255, 255, 0.3);

}

